<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="receiptApp">
<head>
<meta charset="ISO-8859-1"></meta>
<title th:text="stuff"></title>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
<script src="res/jquery-1.12.0.js"></script>
<script src="res/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="res/imgareaselect-default.css" />
  <script type="text/javascript" src="res/jquery.min.js"></script>
  <script type="text/javascript" src="res/jquery.imgareaselect.pack.js"></script>
<script src="js/addReceipt.js"></script>
</head>
<body>
	<div th:include="fragments :: header"></div>
	<div class="container" style="margin-top: 3%; margin-bottom: 8%;">
	
		<div ng-controller="AddReceiptController">
			
			<h2>{{title}}</h2>
		
			<form enctype="multipart/form-data">
				<label class="col-md-2" style="padding-left:0px;">Shop:</label> <input type="text" name="name"
						ng-model="newreceipt.shop.name" />
				<table>
					<thead>
						<tr>
							<th>Aritcle</th>
							<th>Amount</th>
							<th>Price</th>
							<th id="categoryHead" hidden="">Category</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="receiptEntry in newreceipt.receiptEntries" id="{{$index}}">
							<td class="col-md-2">
								<input class="form-control" type="text" name="article"
								ng-blur='checkArticle($index)'
								ng-model="receiptEntry.article.articleName" />
							</td>
							<td class="col-md-2">
								<input class="form-control" type="text" name="amount"
								ng-model="receiptEntry.amount" />
							</td>
							<td class="col-md-2">
								<input class="form-control" type="text" name="price"
								ng-model="receiptEntry.price" />
							</td>
							<td class="col-md-2">
								<select ng-show="showabl($index)" name="category"
								ng-model="receiptEntry.article.category">
									<option th:each="category : ${categories}"
										th:value="${category.name}" th:text="${category.name}"></option>
								</select>
							</td>
							<td><input  class="btn btn-danger" type="button" ng-click="removeRow($index)" value="Remove"/></td>
						</tr>
						<tr>
							<td>
								<label>Purchase Date:</label>
							</td>
							
							<td>
								<input class="form-control" type="date" name="purchaseDate"
									ng-model="newreceipt.purchaseDate" />
							</td>
						</tr>
						<tr>
						<td>
							<label>Image:</label>
						</td>
						<td>
							<span class="btn btn-default btn-file"><input type="file" id="image"
									/></span>
							</td>
						</tr>
					</tbody>
				</table>
				
				<input type="button" class="btn btn-primary"
						value="AddEntry" ng-click="addEntry()" /> 		
				<input type="button" class="btn btn-primary"
						value="Save" ng-click="saveReceipt()" />
				</form>
			
			<div style="width:100%;"><input type="button" class="btn btn-primary"
						value="Shop" ng-click="ocrSegment('Shop')" /> 	
				<input type="button" class="btn btn-primary"
						value="Articles" ng-click="ocrSegment('Articles')" /> 	
				<input type="button" class="btn btn-primary"
						value="Date" ng-click="ocrSegment('Date')" /> 	
				<input type="button" class="btn btn-primary"
						value="Total" ng-click="ocrSegment('Total')" /> 	
				<input type="button" class="btn btn-success"
						value="AutoFill" ng-click="autoReceipt()" /> 	
					</div>	
			<div>
			<textarea rows="40" style="vertical-align: top;width:49%" ng-model="ocr"></textarea>
			<img id="img" style="width:50%" />	
			</div>
		</div>


	</div>
	<div th:include="fragments :: footer"></div>
</body>
</html>