<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="">
    <head>
        <title>Spring MVC + AngularJS Demo</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script
	src="js/ang.js"></script>
	<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
<script
	src="res/jquery.min.js"></script>
	
        <script>
        
        </script>
    </head>
    <body >
    <div th:include="fragments :: header"></div>
    <div class="container" style="margin-top: 8%; margin-bottom: 8%;">
        <div ng-controller="Hello">
            <h2>Spring MVC + AngularJS Demo</h2>
            <ul>
        <li ng-repeat="receipt in receipts"> {{ receipt.shop.name }} </li>
    </ul>
        </div>
        <div>
            <input type="text" ng-model="sometext" />
 			<h1>Hello {{sometext}}</h1>
 			
     	</div>
     	<div ng-controller="ContactController">
     Email:<input type="text" ng-model="newcontact"/>
    <button ng-click="add()">Add</button>
    <h2>Contacts</h2>
 
    <ul>
        <li ng-repeat="contact in contacts"> {{ contact }} </li>
    </ul>
 
</div>
        </div>
	<div th:include="fragments :: footer"></div>


    </body>
</html>
