<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
<script
	src="res/jquery.min.js"></script>


</head>
<body>
	<div th:include="fragments :: header"></div>
	<div class="container" style="margin-top: 8%; margin-bottom: 8%;">
		<form method="POST" th:action="catadd">
			
			<div class="form-group">
				<label for="category">category</label> <input type="text"
					name="name" class="form-control" id="name"
					placeholder="category"></input>
			</div>
			<div class="form-group">

			</div>
			
			<input class="btn btn-default" type="submit" name="Submit"
				th:value="sub"></input>
		</form>
		
		
		<!-- div id="add" th:text="AddReceipt"></div-->
		<!-- div><input id="shopName" type="text"></input></div-->

	</div>
	<div th:include="fragments :: footer"></div>
</body>
</html>