<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
	   <script src="res/jquery.min.js"></script>
</head>
<body>

	<div th:fragment="header">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="receiptsList">Receipts Management</a>
				</div>

				<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
						<li><a href="receiptsList">Receipts List</a></li>
						<li><a href="addReceipt">Add Receipt</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${customer==null}"><a class="align-right small" href="login">login</a></li>
						<li th:if="${customer==null}"><a class="align-left small" href="register">register</a></li>
						<li th:if="${customer!=null}"><a class="align-right small" th:text="${customer.name}"></a></li>
						<li th:if="${customer!=null}"><a class="align-left small" href="logout">logout</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div th:fragment="footer">
		<div class="navbar navbar-inverse navbar-fixed-bottom"
			role="navigation">
			<div class="container">
				<div class="navbar-text pull-left">
					<p>2016 Nikolche Kolevski</p>
				</div>
				<div class="navbar-text pull-right">
					<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a> <a
						href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i
						class="fa fa-google-plus fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
	
    <div class="modal fade" id="login" role="dialog">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<form class="form-horizontal" role="form">
    				<div class="modal-header">
    					<h4>Contact</h4>
	    			</div>
	    			<div class="modal-body">
    					<div class="form-group">
    						<label for="contact-name" class="col-sm-2 control-label">Name</label>
    						<div class="col-sm-10">
    							<input type="text" class="form-control" id="contact-name" placeholder="First  Last Name"></input>
    						</div>
    					</div>
    					<div class="form-group">
    						<label for="contact-email" class="col-sm-2 control-label">Email</label>
    						<div class="col-sm-10">
    							<input type="email" class="form-control" id="contact-email" placeholder="example@domain.com"></input>
    						</div>
    					</div>
    					<div class="form-group">
    						<label for="contact-message" class="col-sm-2 control-label">Message</label>
    						<div class="col-sm-10">
    							<textarea class="form-control" rows="4"></textarea>
    						</div>
    					</div>
	    			</div>
	    			<div class="modal-footer">
    					<a class="btn btn-default" data-dismiss="modal">Close</a>
    					<button type="submit" class="btn btn-primary">Send</button>
    				</div>
    			</form>
    		</div>
    	</div>
    </div>
    
 

</body>
</html>