<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1"></meta>
<title th:text="${userentry}"></title>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
<script
	src="res/jquery.min.js"></script>

<script type="text/javascript">

</script>
</head>
<body>
	<div th:include="fragments :: header"></div>
	<div class="container" style="margin-top: 8%; margin-bottom: 8%;">
		<a th:href="${google}"><img alt="" src="res/google-plus.jpg"></img></a>
		<form method="POST" th:action="login">
			<div class="alert alert-warning" align="center"
				th:if="${error!=null}" th:text="${error}"></div>
			<div class="form-group">
				<label for="name">Username</label> <input type="text"
					name="name" class="form-control" id="name"
					placeholder="name"></input>
			</div>
			
			<input class="btn btn-default" type="submit" name="Submit"
				th:value="login"></input><a class="btn btn-danger"
				href="receiptsList">Cancel</a>
		</form>
	</div>
	<div th:include="fragments :: footer"></div>
</body>
</html>