<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<a th:href="${google}">google</a>
	<div th:text="${smth}"></div>
</body>
</html>