<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="receiptApp">
<head>
<title>Receipts</title>
<script src="res/jquery-1.12.0.js"></script>
<script
	src="res/angular.js"></script>
<script src="js/receiptsList.js"></script>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
</head>
<body>
	<div th:include="fragments :: header"></div>
	<div class="container" style="margin-top: 3%; margin-bottom: 8%;">
		<div ng-controller="ReceiptsController">
			

			<div class="panel panel-default"><div class="panel-body">
				<div class="col-md-2" style="height:50px;position:relative;">
					<label style="position:absolute;bottom:0;">Filters:</label>
				</div>
				<div class="col-md-2">
					from Amount:<input class="form-control" type="text" name="amount"
						ng-change="populateArticles()" ng-model="fromAmount" />
				</div>
				<div class="col-md-2">
					to Amount:<input class="form-control" type="text" name="toamount"
						ng-change="populateArticles()" ng-model="toAmount" />
				</div>

				<div class="col-md-2">
					from Date:<input class="form-control" type="date" name="date"
						ng-change="populateArticles()" ng-model="fromDate" />
				</div>
				<div class="col-md-2">
					to Date:<input class="form-control" type="date" name="todate"
						ng-change="populateArticles()" ng-model="toDate" />
				</div>
				<div class="col-md-2">
					Shop Name:
					<input class="form-control" type="text" name="shopName"
						ng-change="populateArticles()" ng-model="shopName" />
				</div>
			</div></div>
			<div class="panel panel-default"><div class="panel-body">
				<div class="col-md-2" style="height:50px;position:relative;">
					<label style="position:absolute;bottom:0;">Show:</label>
				</div>
				<div class="col-md-2" style="height:50px;position:relative;">
					<input class="btn btn-primary" style="position:absolute;bottom:0;" type="button" value="Receipts" ng-click="showReceipts()" />
				</div>
				<div class="col-md-2" style="height:50px;position:relative;">
					<input class="btn btn-primary" style="position:absolute;bottom:0;" type="button" value="Articles" ng-click="showArticles()" />
				</div>
				<div class="col-md-6">
					<div>Show Articles in Category</div>
					<select class="form-control" id="categoryFilter" name="category"
						ng-model="categorySearch" ng-change="showArticles()"><option
							th:each="category : ${categories}" th:value="${category.name}"
							th:text="${category.name}"></option>
					</select>
				</div>
			</div></div>
			
			<h2 style="margin-top:10px;">{{title}}</h2>
			
			<table style="width:100%"><tr><td style="width:70%;vertical-align: top;">
			<table ng-hide="checkIfArticles()" class="table" >
				<thead>
					<tr>
						<th>Shop Name</th>
						<th>Total Amount</th>
						<th>Number of Articles</th>
						<th>Purchase Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="receipt in receipts" ng-show="checkReceipt(receipt)"
						ng-click="showReceipt($index)">
						<td>{{ receipt.shop.name }}</td>
						<td>{{ receipt.totalAmount }}</td>
						<td>{{ receipt.receiptEntries.length }}</td>
						<td>{{ receipt.purchaseDate | date:'yyyy-MM-dd' }}</td>
					</tr>
					<tr>
						<td><b>Total Amount:</b></td>
						<td ng-bind="tableTotal()"><b></b></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table ng-show="checkIfArticles()" class="table">
				<thead>
					<tr>
						<th>Article</th>
						<th>Amount</th>
						<th>Price</th>
						<th>Purchase Date</th>
						<th>Shop</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in articles" ng-show="checkReceipt(receipt)" ng-click="showArticleDif($index)">
						<td>{{ article.article }}</td>
						<td>{{ article.amount }}</td>
						<td>{{ article.price }}</td>
						<td>{{ article.purchaseDate | date:'yyyy-MM-dd' }}</td>
						<td>{{ article.shop}}</td>
						<td>{{ article.category}}</td>
					</tr>
					<tr>
						<td><b>Total:</b></td>
						<td><b>{{ articleTotalAmount }}</b></td>
						<td><b>{{ articleTotal }}</b></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="padding-left:3%;vertical-align: top;">
			
			<div id="selected" hidden="">
				<label>Shop:</label><div>{{ selectedreceipt.shop.name }}</div>
				<table>
					<thead>
						<tr>
							<th>Aritcle</th>
							<th>Amount</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in selectedreceipt.receiptEntries">
							<td class="col-md-3">
								{{entry.article.articleName}}
							</td>
							<td class="col-md-3">
								{{entry.amount}}
							</td>
							<td class="col-md-3">
								{{entry.price}}
							</td>
						</tr>
						<tr>
						</tr>
						<tr>
							<td>
								<label>Total Amount:</label>
							</td>
							<td>
							</td>
							<td>
								{{ selectedreceipt.totalAmount }}
							</td>
						</tr>
						<tr>
							<td>
								<label>Purchase Date:</label>
							</td>
							<td>
							</td>
							<td>
								{{ selectedreceipt.purchaseDate | date:'yyyy-MM-dd'}}
							</td>
						</tr>
					</tbody>
				</table>
				
				<input class="btn btn-primary" type="button" value="edit"
					ng-click="editReceipt(selectedreceipt.id)" />
				<input type="button" class="btn btn-danger"
					value="delete" ng-click="deleteReceipt(selectedIndex)" />
			</div>
			
			<div id="recentries" hidden="">
				
				<table>
					<thead>
						<tr>
							<th>Shop</th>
							<th>Article</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in receiptentries">
							<td class="col-md-3">
								{{entry.shop}}
							</td>	
							<td class="col-md-3">
								{{entry.entry.article.articleName}}
							</td>
							<td class="col-md-3">
								{{entry.entry.price}}
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			
			
			</td></tr></table>
		</div>
	</div>
	<div th:include="fragments :: footer"></div>
</body>
</html>