<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet"
	href="res/bootstrap.min.css"></link>

<link rel="stylesheet"
	href="res/bootstrap-theme.min.css"></link>

<script
	src="res/bootstrap.min.js"></script>
<script
	src="res/jquery.min.js"></script>

<script
	src="js/test.js"></script>
	
<script src="res/angular.min.js"></script>

</head>
<body>
	<div th:include="fragments :: header"></div>
	<div class="container" style="margin-top: 8%; margin-bottom: 8%;">
		<form method="POST" th:action="add">
			
			<div class="form-group">
				<label for="username">shopName</label> <input type="text"
					name="shopName" class="form-control" id="shopName"
					placeholder="shopName"></input>
			</div>
			<div class="form-group">

			</div>
			
			<input class="btn btn-default" type="submit" name="Submit"
				th:value="sub"></input>
		</form>
		
		
		<!-- div id="add" th:text="AddReceipt"></div-->
		<!-- div><input id="shopName" type="text"></input></div-->

		<div id="result"></div>
		
		<ul id="articles">
			
		</ul>
		<input type="hidden" id="categories" th:value="${categories}"></input> 
		<ul id="uncatarticles">
			
		</ul>
		<input class="btn btn-default" type="submit" name="article" id="article" th:text="article">add</input>
		<input class="btn btn-default" type="submit" name="add" id="add" >add</input>
		<input class="btn btn-default" type="submit" name="categorize" id="categorize" >add</input>

	</div>
	<div th:include="fragments :: footer"></div>
</body>
</html>